{
  "presets": [
    "es2015",
    "stage-3",
    "flow"
  ],
  "sourceMaps": true,
  "plugins": [
    ["module-resolver", {
      "alias": {
        "flowtypes": "./flowtypes",
        "utils": "./utils"
      }
    }],
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true,
    }]
  ]
}
