{
"extends": ["airbnb-base", "plugin:flowtype/recommended"],
"parser": "babel-eslint",
"plugins": [
  "flowtype"
],
"rules": {
  "max-len": ["warn", 100],
  "comma-dangle": ["error", "never"],
  "import/prefer-default-export": "off",
  "import/no-extraneous-dependencies": "off",
  "quotes": "off",
  "quote-props": ["error", "consistent"],
  "no-param-reassign": ["error", { "props": false }],
  "brace-style": ["error", "stroustrup"],
  "no-console": ["warn", { allow: ["error"] }],
  "arrow-parens": ["error", "as-needed"]
},
"settings": {
  "import/resolver": {
    "babel-module": {}
    }
  }
}
