html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

div {
  display: flex;
}

#container {
  height: 100%;
  background-color: lightgray;
  justify-content: center;
  align-items: center;
}

#profiles-container {
  background-color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  padding-right: 10px;
}

.profile-option {
  flex-direction: column;
  height: 10vw;
  width: 10vw;
  background-color: lightgrey;
  margin: 10px 0px 10px 10px;
}

div.profile-option:hover {
  background-color: purple;
}

.selected {
  background-color: blue;
}

.add-image {
  flex: 3;
  background: transparent url("../icns/add.png") no-repeat center;
  background-size: contain;
}

.text-box {
  flex: 1;
  align-items: center;
  justify-content: center;
}

.laptop-image {
  flex: 3;
  background: transparent url("../icns/laptop.png") no-repeat center;
  background-size: contain;
}

.home-image {
  flex: 3;
  margin: 1.5vh 1.5vw;
  background: transparent url("../icns/home.png") no-repeat center;
  background-size: contain;
}

.work-image {
  flex: 3;
  margin: 1.5vh 1.5vw;
  background: transparent url("../icns/work.png") no-repeat center;
  background-size: contain;
}

.mobile-image {
  flex: 3;
  margin: 1.5vh 1.5vw;
  background: transparent url("../icns/mobile.png") no-repeat center;
  background-size: contain;
}

.sync-options-container {
  flex-direction: column;
  height: 50vh;
  width: 35vw;
  background-color: red;
}

.sync-option-push {
  flex: 1;
  background-color: purple;
}

.sync-option-pull {
  flex: 1;
  background-color: green;
}

.sync-option-exchange {
  flex: 1;
  background-color: black;
}

.bookmark-image {
  flex: 1;
  margin: 1vh 0;
  background: transparent url("../icns/file-bookmark-icon.png") no-repeat center;
  background-size: contain;
}

.cloud-image {
  flex: 1;
  margin: 1vh 0.75vw;
  background: transparent url("../icns/cloud-icon.png") no-repeat center;
  background-size: contain;
}

.sync-image-exchange {
  flex: 1;
  background: transparent url("../icns/exchange.png") no-repeat center;
  background-size: contain;
}

.sync-image-pull {
  flex: 1;
  background: transparent url("../icns/left-big-arrow.png") no-repeat center;
  background-size: contain;
}

.sync-image-push {
  flex: 1;
  background: transparent url("../icns/right-big-arrow.png") no-repeat center;
  background-size: contain;
}
